@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');
h1 {
    color: rgb(0, 0, 0);
    font-family: 'Skranji', cursive;
    font-weight:600;
    font-size: 25pt;
    text-align: left;
}
.color{
    margin: 300px, 300px, 300px, 330px;
    font-family: 'PT Serif', serif;
    font-weight:100;
    text-decoration:underline;
    font-size: 15pt;
    color:#5882FA
}
h3{
    font-family: 'Skranji', cursive;
    font-size: 30;
    color: blueviolet
}
#alineado{
    text-align: right;
}
.Homero{
    font-family: 'Skranji', cursive;
    text-decoration: underline;
    color: yellowgreen
}
a{
    color:yellow;
}
a:visited {
    color: #265301;
}
.item{
    padding: 1rem;
}
.menu a{
    color: var(--blanco);
    text-decoration: none;
}
