<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> La lechera y su cántaro </title>
    <link rel="stylesheet" type= "text/css" href="../assets/css/style.css">
<h1> La lechera y su cántaro </h1>
<h2> Fábula de esopo </h2>
</head>
<body>

<img src="https://arbolabc.nyc3.cdn.digitaloceanspaces.com/Cuentos_Infantiles/fabulas/images/webP/lecheraC.webp">
<span> <h5> Figura 1, La lechera y el cántaro, <br> Tomado de: <a href= "https://arbolabc.com/fabulas-para-ni%C3%B1os/la-lechera"> ÁrbolABC.com</a> </span></h5>
  <p>Había una vez una joven lechera que caminaba con un cántaro de leche para vender en el mercado del pueblo. Mientras caminaba pensaba en todas las cosas que haría con el dinero de la venta:

—Cuando me paguen —se dijo—, compraré de inmediato unas gallinas, estas gallinas pondrán muchísimos huevos y los venderé en el mercado. Con el dinero de los huevos me compraré un vestido y zapatos muy elegantes. Luego, iré a la feria y como luciré tan hermosa, todos los chicos querrán acercarse a hablar conmigo.</p>
  <h3>Moraleja: Nuestros sueños y planes no deben apartarnos de la realidad. </h3>
  <ul>  <span>OTRAS FABULAS DE ESOPO</span>
    <li> La liebre y la tortuga</li>
    <li> La cigarra y la hormiga</li>
    <li> El león y el ratón</li>
    <li> Las moscas </li>
    <li> El asno y el león </li>
</ul>
<table>
<tr> 
    <th> Autor </th>
    <th> Fábulas</th>
</tr>
<tr>
    <td> Rafael Pombo</td>
    <td> Renacuajo paseador <br> La pobre viejecita </td>
</tr>
<tr>
    <td> Jean La Fontaine </td>
    <td> El molinero <br> El zorro y el cuervo </td>
</tr>
<tr>
    <td> Tomás de Iriarte </td>
    <td> El burro flautista <br> La mona </td>
</tr>
<tr> 
    <td> Rafael García </td>
    <td> La araña y el mosquito <br> El guarda y el loro</td>
</tr>
</table>
</body>
</html>