<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biografía Esopo</title>
    <link rel="stylesheet" type= "text/css" href="../assets/css/pagestyle.css">

</head>
<body>
<h1> Biografía Esopo </h1>
<p class = "color">
    (S.VI a.C.) Escritor griego. Uno de los más antiguos géneros de la literatura universal es la fábula, un tipo de relato breve protagonizado por animales personificados cuya finalidad didáctica se explicita en una moraleja final. La Grecia clásica atribuyó a Esopo la invención de este género, 
    igual que asignó a Homero la paternidad de la épica
</p>
<p class = "letra">
        Hasta muchos siglos después no se dudó de la existencia efectiva de ambos, señalando además la perfecta antítesis entre las dos figuras: <span class="Homero"><a href="https://es.wikipedia.org/wiki/Esopo ">Homero como cantor de las gestas de los héroes,</a></span>Esopo como retratista de la plebe, de las debilidades humanas bajo aspecto de animales. 
        En ambos casos, numerosas ciudades se disputaron el honor de ser su cuna.
</p>
<p class = "tinto">
        En la Época Clásica su figura gozaba de gran popularidad, pero se vio rodeada de elementos legendarios que hacen difícil establecer de manera precisa cualquier dato seguro sobre su biografía; de hecho, S. Josifovich estima que nunca existió, aunque Ben Edwin Perry, Anton Wiechers, How-Wells y Janos Sarkady entre otros defienden de un modo u otro su autenticidad; 
        también se piensa que el personaje parece ser un remedo del consejero babilonio Ahikar, secretario del rey Senaquerib
</p>
<h3>
    Moraleja: Nuestros sueños y planes no deben apartarnos de la realidad
</h3>
<h3 id="alineado">
    Color, tamaño, fuente
</h3>
</body>
</html>