<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="Valentina Correa G" content="Esto es un quiz jugando stop, initial-scale=1.0">
    <link rel = "icon", href= "../assets/img/formulario-de-contacto.png">
    <title>Quiz</title>

</head>
<body>
<form name = "Quiz" action= "../ElPrincipito.html" method="">

<table border = 2>
    <tr style="3">
        <th > L </th>
        <th > Nombre</th>
        <th > Apellido </th>
        <th > Cosa </th>
        <th> Lugar </th>
        <th > Color </th>
        <th > Atributo HTML </th>
        <th> Total </th>
    </tr>

    <tr>
        <td>V</td>
        <td>Violeta</td>
        <td>Villa</td>
        <td><img src="../assets/img/vaca.jpeg" width="200"></td>
        <td>villa de leyba</td>
        <td bgcolor="violet"></td>
        <td><em><u>value</u></em></td>
        <th><strong>1</strong></th>
    </tr>

    <tr>
        <td>D</td>
        <td>Danna</td>
        <td>Duran</td>
        <td><img src="../assets/img/disco.avif" width="200"></td>
        <td>dinamarca</td>
        <td bgcolor="	#D4AF37"></td>
        <td><u><em>dir</em></u></td>
        <th><strong>1</strong></th>
    </tr>
    
    <tr>
        <td>U</td>
        <td>Ursula</td>
        <td>Ureña</td>
        <td><img src="../assets/img/ukelele.jpeg" width="200"></td>
        <td>ucreanea</td>
        <td bgcolor="#8000FF"></td>
        <td><em><u>ul</u></em></td>
        <th><strong>1</strong></th>
    </tr>
    <tr>
        <td>X</td>
        <td>Xavier</td>
        <td>Ximenez</td>
        <td><img src="../assets/img/xilofono.jpeg" width="200"></td>
        <td>xeraco</td>
        <td bgcolor="#ebb45d"></td>
        <td><em><u>x-moz-errormessage</u></em></td>
        <th><strong>1</strong></th>
    </tr>
    <tr>
    <td>R</td>
    <td>Romeo</td>
    <td>Rojas</td>
    <td><img src="../assets/img/robot.jpeg" width="200"></td>
    <td>rio de janeiro</td>
    <td bgcolor="red"></td>
    <td><em><u>rowspan</u></em></td>
    <th><strong>1</strong></th>
</tr>
</table>
</body>
</html>